- @works.each do |work|
  %tr
    %td= link_to works.employee, works.employee
    %td= link_to works.project.name, works.project
    %td= works.date_time.strftime("%d %b %Y")
    %td= link_to works.details, works
    %td= works.hours
