- @works.each do |work|
  %tr
    %td= link_to work.employee.name, work.employee
    %td= link_to work.project.name, work.project
    %td= work.date_time.strftime("%d %b %Y")
    %td= link_to work.details, work
    %td= work.hours
