%h1 Dashboard

.row
  .col-xs-4.col-sm-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Admin Tasks
      %ul.list-group
        %li.list-group-item= link_to "Employees", employees_path
        %li.list-group-item= link_to "Projects", projects_path
        %li.list-group-item= link_to "Clients", clients_path
        %li.list-group-item= link_to "Companies", companies_path
        %li.list-group-item= link_to "Works", works_path